#header {
    background: dodgerblue;
    color: white;
}
#background {
    background-image: url("../../www/images/background_img.jpg"); /*url("../images/background_img.jpg");*/
}

#bar {
    margin: 0.5%;
    display: block;
    border: 10px solid red;
    height: 3%;
    background: red;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#footer {
    background: white;
    color: black;
    font-family: Verdana;
    font-size: 14px;
    text-align: center;
}

/*COLD TEMP*/
#cold-img {
    width: 120px;
    height: 120px;
    margin: 5%
}

.v-col {
    float: left;
    width: 40%;
}

#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
    /*background-image: url(../../www/images/cold2.jpg);
    background-repeat: no-repeat;*/
}

/*HOME PAGE*/
.home-img {
    width: 100%;
}

#home-btn-temp, #home-btn-music {
    width: 30%;
    margin: 5%;
}

.home-btn-container {
    text-align: center;
    margin: 10px;
}

#home-btn-temp:active, #home-btn-music:active {
    opacity: 0.5;
}

/*TEMP PAGE*/
#current-temp {
    font-size: 40px;
    margin: 5%;
}

#temp-container {
    background: none;
    border: none;
    margin-bottom: 10%;
}

.current-temp-container {
    border: 2px solid white;
    border-radius: 15px;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
}

#temp-graph, #sleep-graph {
    width: 100%;
    height: 90vw;
    text-align: center;
}

/*MUSIC PAGE*/
.song-container {
    border: 2px solid white;
    border-radius: 15px;
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    height: 100vw;
}

/*GENERAL*/
.title, .subtitle {
    text-align: center;
    font-size: 18px;
    margin: 5%;
    color: white;
    font-family: Verdana;

}

.subtitle {
    font-size: 14px;
}

/*MODAL*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: justify;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }

.modal-label {
    text-align: left;
    width: 70%;
    float: left;
}

.temp-report-value {
    width: 30%;
    overflow: auto;
    padding-top: 6%;
}

/* TABS */
.tab-btn-container {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}
.tab-btn-container button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab-btn-container button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
}
#tab-btn {
    width: 50%;
    float: left;
}

/*SLEEP TAB*/
.sleep-stat {
    /*width: 40%;
    float: left;*/
    margin: 20% 5% 5%;
}